<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soccer Tribute</title>
</head>

<body>
    <h1>Soccer Tribute Page</h1>
    <p>El Premio World Soccer al mejor jugador del mundo es un galardón que concede anualmente, desde 1982, la revista
        deportiva inglesa World Soccer al mejor futbolista del año. El premio se concede en función de las votaciones de
        los lectores de la revista, que valoran los méritos de todos los futbolistas del mundo, tanto en las actuaciones
        con sus clubes como con sus selecciones nacionales.</p>
    <p>Desde la edición de 2012, dichos votos se computan al 50% con el de un jurado de expertos que dictamina sus
        votos según sus criterios. Así, el resultado final se concede tras el cómputo global de los mismos.</p>
    <a href="https://es.wikipedia.org/wiki/Premio_World_Soccer_al_mejor_jugador_del_mundo">go to see the best soccer
        players in wiki</a>

</body>

</html>