<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soccer Tribute</title>
</head>

<body>
    <h1>Soccer Tribute Page</h1>
    <p>El Premio World Soccer al mejor jugador del mundo es un galardón que concede anualmente, desde 1982, la revista
        deportiva inglesa World Soccer al mejor futbolista del año. El premio se concede en función de las votaciones de
        los lectores de la revista, que valoran los méritos de todos los futbolistas del mundo, tanto en las actuaciones
        con sus clubes como con sus selecciones nacionales.</p>
    <p>Desde la edición de 2012, dichos votos se computan al 50% con el de un jurado de expertos que dictamina sus
        votos según sus criterios. Así, el resultado final se concede tras el cómputo global de los mismos.</p>
    <a href="https://es.wikipedia.org/wiki/Premio_World_Soccer_al_mejor_jugador_del_mundo">go to see the best soccer
        players in wiki</a>

    <h2>Leo Messi</h2>
    <p>Lionel Andrés Messi Cuccittini , nacido en Rosario, Santa Fe; 24 de junio de 1987, conocido como Leo Messi,​ es
        un futbolista argentino que juega como delantero o centrocampista.
        ​ Ha desarrollado toda su carrera en el F. C. Barcelona de la Primera División de España y en la selección de
        Argentina, equipos de los que es capitán. A continuación podemos ver
        su sitio web personal y también podremos ver su trayectoria en wikipedia</p>
    <a href="https://es.wikipedia.org/wiki/Lionel_Messi">Ver en wikipedia</a>
    <a href="https://messi.com/">Ver en página personal</a>

    <h2>Cristiano Ronaldo</h2>
    <p>Cristiano Ronaldo dos Santos Aveiro, nacido en Funchal, Madeira; 5 de febrero de 1985, más conocido como
        Cristiano Ronaldo, es un futbolista portugués que juega como delantero en la Juventus F. C. de la Serie A de
        Italia y en la selección de Portugal, de la cual es su capitán.
        Identificado habitualmente en los medios de comunicación con el numerónimo CR7, y por su caracteristico festejo
        "SIIUUUU"</p>
    <a href="https://es.wikipedia.org/wiki/Cristiano_Ronaldo">Ver en wikipedia</a>

    <h2>Neymar</h2>
    <p>Neymar da Silva Santos Júnior, nacido en São Paulo, 5 de febrero de 1992, conocido simplemente como Neymar o
        Neymar Jr., es un futbolista brasileño.
        Juega como delantero y su equipo actual es el París Saint-Germain Football Club de la Ligue 1 de Francia.4​
        Es internacional absoluto con la selección de Brasil desde 2010. Dotado de una gran técnica, es considerado como
        uno de los mejores jugadores del mundo.</p>
    <a href="https://es.wikipedia.org/wiki/Neymar">Ver en wikipedia</a>

</body>

</html>